/* Styles for the table */
.list{
  padding: 20px;
  text-align: center;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  padding: 10%;
}

table th, table td {
  padding: 8px;
  border: 1px solid #ddd;
}

/* Styles for the pagination buttons */
.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination button {
  background-color: #f0f0f0;
  border: none;
  color: #333;
  padding: 8px 12px;
  cursor: pointer;
  margin-right: 4px;
  border-radius: 4px;
}

.pagination button:hover {
  background-color: #ddd;
}

.pagination button.active {
  background-color: #007bff;
  color: white;
}

/* Styles for the select dropdown */
.select-container {
  margin-top: 20px;
}

.select-container select {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
}

.bottom{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}


/* Input field style */
input[type="text"],
input[type="number"],
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 16px;
}

/* Button style */
button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* Primary button style */
.primary-btn {
  background-color: #28a745;
}

.primary-btn:hover {
  background-color: #218838;
}

/* Secondary button style */
.secondary-btn {
  background-color: #dc3545;
}

.secondary-btn:hover {
  background-color: #c82333;
}
